</<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function copyLinkToClipboard(link)
        {
            var textArea = document.createElement("textarea");
            textArea.value = link;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);
            alert("The link was copied in buffer: " + link);
       }
    </script>
</head>
<body>
    <h1>Welcome!</h1>
    <h1>Upload a File</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h2>Uploaded Files</h2>
    <ul>
        {% for filename in filenames %}
        <li>
            <a href="{{ url_for('uploaded_file', filename=filename) }}">{{ filename}}</a>
            <a href="{{ url_for('uploaded_file', filename=filename) }}" download>Download file</a>
            <a href="{{ url_for('delete_file', filename=filename) }}" class="delete-link">(Delete)</a>
            <input type="text" id="fileLink" value="{{ url_for('uploaded_file', filename=filename) }}" style="display: none;">
        </li>
            {% endfor %}
        </ul>
    </body>
    </html>


